@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-dark min-h-screen text-gray-100;
  }
}

/* Custom Scrollbar for a sleek look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0B132B; 
}
::-webkit-scrollbar-thumb {
  background: #3A506B; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #5C6B73; 
}
